<!DOCTYPE html>
<html>
    <head>
        <title>Accounts-village sort</title>
        <link rel="stylesheet" href="./css/villageSort.css">
    </head>
    <body>
        <div id="formContainer">
            <form action="/dateSort" method="POST">
                <label for="fromDate">From:</label>
                <input type="date" name="fromDate" id="fromDate">
                <label id="label2" for="toDate">To:</label>
                <input type="date" name="toDate" id="toDate"><br>
                <input type="submit" name="submission" value="Search"><br>
                <input type="submit" name="today" value="Today's report">
            </form>
        </div>
    </body>
</html>